* {
    margin: 0;
    padding: 0;
}
a {
    color: #333;
}
body {
    font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #808080;
}
.album-img-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #808080;
    background-image: url(https://p2.music.126.net/zlG4B8SuUTlHc2OXCEuvIg==/3306231465818039.jpg?param=100y100);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -2;
}
.album-img-bg-mask {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #808080;
    background-image: url(https://p2.music.126.net/zlG4B8SuUTlHc2OXCEuvIg==/3306231465818039.jpg?param=100y100);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(14px);
    -webkit-filter: blur(14px);
    -moz-filter: blur(14px);
    -ms-filter: blur(14px);
    z-index: -1;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.card-container {
    width:280px;
    background: #FFF;
    box-shadow: 0 1px 20px rgb(0 0 0 / 10%);
    border: 1px solid #dee2e6;
}
.album-container {
    width: 280px;
    height: 280px;
}
.album-img {
    width: 280px;
    height: 280px;
    min-width: 100%;
    min-height: 100%;
    vertical-align: middle;
    background: #808080;
}
.comment-container {
    min-height: 120px;
}
.comment-text {
    position: relative;
    text-indent:2em;
    color: #808080;
    font-size: 14px;
    padding: 12px;
}
.comment-text::after {
    position: absolute;
    top: 0.06em;
    left: -.7em;
    font-family: "iconfont" !important;
    font-size: 32px;
    color: #808080;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e63c";
}
.bottom-container {
    display: flex;
}
.qrcode-container {
    width: 30%;
    padding: 12px;
}
.bottom-container img {
    width: 70px;
}
.author-container {
    color: #808080;
    font-size: 12px;
    padding: 12px;
    text-align: right;
    width: 70%;
}
.author-container .iconfont {
    font-size: 12px;
    padding: 2px;
}
.nav-container {
    position: absolute;
    bottom: 24px;
}
.nav-items {
    font-size: 18px;
    margin: 4px 0;
    text-align: center;
}
.nav-items span {
    margin: 0 14px;
}
.company {
    color: #333;
    text-align: center;
    font-size: 12px;
}
.company .iconfont {
    color: tomato;
    font-size: 12px;
}
@media screen and (max-width: 512px) {
    .container {
        justify-content: flex-start;
    }
    .album-container {
        width: 100%;
        height: auto;
    }
    .album-img {
        height: auto;
    }
    .card-container {
        width: 100%;
    }
}
.mask {
    filter: blur(4px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
}
.shownow {
    animation: show 1s;
}
@keyframes show
{
    from {
        filter: blur(4px);
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -ms-filter: blur(4px);
    }
    to {
        filter: blur(0);
        -webkit-filter: blur(0);
        -moz-filter: blur(0);
        -ms-filter: blur(0);
    }
}